@use 'variables';

.main-component-2 {
        position: absolute;
        width: 56px;
        height: 140px;
        left: 692px;
        top: 1474px;

        .vertical-line-2 {
            border: 0.5px solid variables.$border-color;
            width: 0;
            height: 6rem;
            mix-blend-mode: normal;
            opacity: 1;
            position: absolute;
            left: 48.21%;
            right: 50%;
            top: 0%;
            bottom: 40%;
        }
    
        .main-btn {
            button {
                display: inline-flex;
                justify-content: center;
                margin: auto;
                align-items: center;
                text-align: center;
                padding: 1.2rem;
                box-sizing: border-box;
                border-radius: 50px;    
                border: 1px solid variables.$border-color;
                background-color: variables.$background-color;
                font-size: 16px;
                font-weight: variables.$font-weight-1;
                color: variables.$font-color-light;
                font-family: variables.$main-font;
                position: absolute;
                width: 56px;
                height: 56px;
                left: 0px;
                top: 84px;
            }
        }

    }

footer {
    margin-top: 7rem;
    padding: 3rem;
    background-color: variables.$primary-color;
    .footer-content {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 4rem;
        margin: 3rem 6rem;
    }
}