@use 'variables';


footer {
    margin-top: 7rem;
    background: variables.$primary-color;

    .main-component-2 {
        position: absolute;
        width: 56px;
        height: 140px;
        left: 692px;
        top: 1474px;

        .vertical-line-2 {
            border: 0.5px solid variables.$border-color;
            width: 0;
            height: 6rem;
            mix-blend-mode: normal;
            opacity: 1;
            position: absolute;
            left: 48.21%;
            right: 50%;
            top: 0%;
            bottom: 40%;
        }
    
        .main-btn {
            button {
                display: inline-flex;
                justify-content: center;
                margin: auto;
                align-items: center;
                text-align: center;
                padding: 1.2rem;
                box-sizing: border-box;
                border-radius: 50px;    
                border: 1px solid variables.$border-color;
                background-color: variables.$background-color;
                font-size: 16px;
                font-weight: variables.$font-weight-1;
                color: variables.$font-color-light;
                font-family: variables.$main-font;
                position: absolute;
                width: 56px;
                height: 56px;
                left: 0px;
                top: 84px;
                z-index: 3;
            }
        }

    }   
   
   
    
    .footer-details {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 5rem;
        margin: 5rem 5rem;
        color: variables.$background-color;
          
    
        h2 {
            font-size: 40px;
            line-height: 44px;
        }
    
        p {
            padding-left: 1rem;
            padding-right: 6.5rem;
            font-size: 18px;
            line-height: 26px;
            width: 350px;
        }
    
        button {
            padding: 1.2rem;
            border-radius: 40px;
            border: none;
            cursor: pointer;
            color: variables.$background-color;
            font-weight: 900;
            margin-left: 1.5rem;
        }
                
            .btn-footer {
                font-size: 16px;
                width: 195px;
                background-color: variables.$secondary-color;
    
                span {
                    color: variables.$secondary-color-light;
                }
                        
            }
            .btn-footer:hover {
                background-color: variables.$secondary-color-hover;
            }
        
    
        }

        
    
}


 



