@use 'variables';

.hero {
    text-align: center;

    .hero-image-1 img {
        width: 100%;
    }

    .hero-content {
        
    }

    .hero-image-2 img {
        display: none;
    }

    

}