@use 'variables';

main {
    text-align: center;

    .main-component {
        margin-top: 300px;


        .vertical-line {
            border: 0.5px solid variables.$border-color;
            position: absolute;
            left: 225px;
            top: 830px;
            width: 0;
            height: 6rem;

            mix-blend-mode: normal;
            opacity: 1;

            @media screen and (min-width: 515px) {
                left: 255px;

                @media screen and (max-width: 705px) {
                    left: 350px;

                    @media screen and (max-width: 761px) {
                        left: 250px;
                    }
                }
                
            }
            

        }

        .main-btn {
            button {
                display: inline-flex;
                justify-content: center;
                margin: auto;
                align-items: center;
                text-align: center;
                padding: 1.2rem;
                box-sizing: border-box;
                border-radius: 50px;    
                border: 1px solid variables.$border-color;
                background-color: variables.$background-color;
                font-size: 16px;
                font-weight: variables.$font-weight-1;
                color: variables.$font-color-light;
                font-family: variables.$main-font;
                position: absolute;
                width: 56px;
                height: 56px;
                left: 197px;
                top: 920px;

                @media screen and (min-width: 515px) {
                    left: 230px;

                    @media screen and (max-width: 705px) {
                        left: 320px;

                        @media(min-width:861px) {
                            left: 550px;
                        }
                    }
                }

            }
        }

    }
    
    .main-images  {
        margin-top: 2rem;
        img {
            width: 151px;
            border-radius: 8px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0.6rem ;
        }
    }

    .main-content {
        h3 {
            color: variables.$primary-color;
            letter-spacing: 4px;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 26px;
            font-weight: variables.$font-weight-1;
            padding-top: 1rem;
            margin-top: 2.5rem;
            margin-bottom: 1.5rem;
        }

        h2 {
            font-size: 32px;
            line-height: 36px;
            font-weight: variables.$font-weight-1;
            color: variables.$font-color-dark;
            padding: 0 4rem;
        }

        p {
            color: variables.$font-color-light;
            padding: 2.2rem 3.9rem;
            font-size: 16px;
            line-height: 26px;
            font-weight: variables.$font-weight-3;
        }
    }

    .main-component-2 {
        position: absolute;
        width: 56px;
        height: 140px;
        left: 220px;
        top: 1775px;

        .vertical-line-2 {
            border: 0.5px solid variables.$border-color;
            width: 0;
            height: 6rem;

            mix-blend-mode: normal;
            opacity: 1;
            position: absolute;
            right: 48px;
            top: -35px;
            bottom: 100px;

            @media screen and (min-width: 515px){
                top: -45px;
                right: 25px;

                @media screen and (max-width: 705px) {
                    top: -210px;
                    right: -80px;
                }
            }
        }

        .main-btn-2 {
            button {
                display: inline-flex;
                justify-content: center;
                margin: auto;
                align-items: center;
                text-align: center;
                padding: 1.2rem;
                box-sizing: border-box;
                border-radius: 50px;    
                border: 1px solid variables.$border-color;
                background-color: variables.$background-color;
                font-size: 16px;
                font-weight: variables.$font-weight-1;
                color: variables.$font-color-light;
                font-family: variables.$main-font;
                position: absolute;
                width: 56px;
                height: 56px;
                bottom: 200px;
                left: -20px;
                top: 65px;

                @media screen and (min-width: 515px) {
                    bottom: 300px;
                    left: 3px;
                    top: 45px;

                    @media screen and (max-width: 705px) {
                        left: 105px;
                        top: -115px;
                    }
                }
            }
        }

    }   
}