@use 'variables';

main {
    margin: auto;
    margin-top: 14rem;
    text-align: center;

    .main-component {
        margin-top: 300px;

        .vertical-line {
            border: 0.5px solid variables.$border-color;
            position: absolute;
            left: 50%;
            top: 630px;
            width: 0;
            height: 6rem;
    
            mix-blend-mode: normal;
            opacity: 1;
        }
    
        .main-btn {
            button {
                display: inline-flex;
                justify-content: center;
                margin: auto;
                align-items: center;
                text-align: center;
                padding: 1.2rem;
                box-sizing: border-box;
                border-radius: 50px;    
                border: 1px solid variables.$border-color;
                background-color: variables.$background-color;
                font-size: 16px;
                font-weight: variables.$font-weight-1;
                color: variables.$font-color-light;
                font-family: variables.$main-font;
                position: absolute;
                width: 56px;
                height: 56px;
                left: 48%;
                top: 720px;
            }
        }

    }


    .main-images img {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.6rem;
        margin: 1rem;
        width: 255px;
        height: 242px;
        
    }

    .main-content {
        width: 1000px;
        display: block;
        text-align: center;
        padding: 3.8rem 0;
        margin: auto;

        h3 {
            color: variables.$primary-color;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 4px;
            text-transform: uppercase;
            font-weight: variables.$font-weight-1;
        }

        h2 {
            color: variables.$font-color-dark;
            font-weight: variables.$font-weight-1;
            font-size: 40px;
            line-height: 44px;
            padding: 0 15rem;
            margin: 0.8rem 3rem;
        }

        p {
            padding: 1rem 11rem;
            margin: 0 3rem;
            font-size: 18px;
            line-height: 26px;
            color: variables.$font-color-light;
        }
    }



}