
$primary-color: hsla(192, 37%, 48%, 1);
$primary-color-light: hsla(192, 90%, 77%, 1);
$primary-color-hover: hsla(192, 54%, 64%, 1);
$secondary-color: hsla(268, 34%, 53%, 1);
$secondary-color-light: hsla(268, 100%, 86%, 1);
$secondary-color-hover: hsla(267, 54%, 71%, 1);
$font-color-dark: hsla(240, 21%, 20%, 1);
$font-color-light: hsla(240, 10%, 57%, 1);
$background-color: hsla(0, 0%, 98%, 1);
$border-color: rgba(135, 135, 157, 0.25);
$main-font: 'Red Hat Display', sans-serif;
$font-weight-1: 900;
$font-weight-2: 500;
$font-weight-3: 400;






